@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color: #D0E8F5;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
}

/* Banner */
.nav-item{
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
    margin-right: 25px;
    color: #2C373E;
}
.btn{
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
    background-color: #2C373E;
    color:rgb(255, 255, 255);
}
.navbar{
    background-color: #D0E8F5;
}
h1{
    font-weight: 700;
    font-style: normal;
    font-size: 80px;
    color: #2C373E;
}
h5{
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #2C373E;
}
p{
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #5A5151;
}
.digital_world{
    width: 478px;
}
.vector{
    background-image: url('../img/Vector2.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.get_started{
    font-size: 20px;
    width: 190px;
    height:48px;
}
.card{width: 229px; height: 288px;}